/* public/css/app.css */

/* ボックスのスタイル */
.box-container {
    display: flex;
    margin-top: 5px;
}

.box {
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* 色設定 */
.green {
    background-color: green;
}

.gray {
    background-color: gray;
}
