@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
strong.more{color:#c30}
a{text-decoration: none;}

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ここより下 */
body {
  width: 100%;
  height: 100vh;
  background-image: url(../img/haikei.png);
  background-position: center center; 
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  background-size: cover;
}

.sa {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.title {
  font-size: 40px;
}

.btn {
  background-color: lightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 170px;
  height: 38px;
  font-size: 23px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.btn:active {
  background-color: lightgray;
}

.area {
  background-color: lightgray;
  width: 95%;
  height: 100%;
  margin: auto;
  margin-top: 2%;
  padding-top: 30px;
}

.back {
width: 90%;
background-color: white;
margin: auto;
margin-top: 30px;
}


/* CSSのスタイルを定義する部分 */
table {
border-collapse: collapse;
width: 90%;
margin: auto;
}

td, th {
border-top: 1px solid #ddd;
padding: 8px;
}

tr:hover {
background-color: #f2f2f2;
}

/* ここから下が修正したスタイル */
td:first-child,
th:first-child {
border-left: none;
}

td:last-child,
th:last-child {
border-right: none;
}

/* 日付の列の幅を固定し、連絡内容の列は自動で改行されるように設定 */
.date-column {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-column {
  white-space: normal;
}